@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Bangers', cursive;
}

/*Need to include a LIGHT and DARK theme*/

body {
    background: linear-gradient(to right, #c39228 30%, #8d62b8);
    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(0, 0, 0, .25);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    max-height: 150px;
}

h1 {
    text-shadow: 1px 1px 2px rgb(223, 79, 103);
    font-size: 60px;
}

ul {
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
}

ul li {
    flex: 1;
}

ul li:hover {
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

/*white backing card container for all pets*/
.mainPetBox {
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(255, 255, 255);
    border-radius: 3em;
    filter: drop-shadow(0 0 0.45rem grey);
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    max-height: 80vh;
    max-width: 80vw;
}
/*FLEX CONTAINTER FOR 1PET BOX*/
.petBoxSingular {
    background:  #d49d49;
    border-radius: 3em;
    filter: drop-shadow(0 0 0.45rem #c7e1f4);
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    color: grey;
    flex-wrap: wrap;
    max-height: 550px;
    max-width: 550px;
    /* overflow: hidden; */
}
/*EVERYTIHNG IN THE 1 PET BOX*/
.petBoxSingular > * {
    background: rgba(255,255,255,.25);
    /* border: solid 1px rgba(255,255,255,.25); */
    padding: 10px;
    border-radius: 1em;
    height: 100%;
}
/*FLEX ITEMS IN 1PET BOX*/
.petName {
    flex: 1 1 90%;
    margin: 3px;
    font-weight: bolder;
    font-size: 20px;
    color: grey;
    text-shadow: 1px 1px 2px white;
}
.petSubClass {
    flex: 1 1 90%;
    margin: 3px;
    font-weight: lighter;
    text-align: right;
    background:  none;
}
.petIcon /*IMAGE*/{
    flex: 1 1 50%;
    max-height: 200px;
    max-width: 150px;
    margin: 5px 1px 1px 0px;
}
.petObjects {
    flex: 1 1 50%;
    
}
.objectButtons {
    flex: 1 1 100%; 
}
.petButtonsRIP {
    flex: 1 1 100%;
}
#buttonRevivePet{
    display: none;
}


/*FLEX CONTAINTER FOR PETOBJECTS*/
.petObjects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-height: 200px;
}
.objectNames {
    flex: 1 1 30%;
    max-height: 30px;
    background:#d1aeff;
    /* border-radius: .5em; */
    clip-path: polygon(5% 0%, 100% 0%, 95% 100%, 0% 100%);
    padding: 5px;
    text-align: center;
    color: black;
    letter-spacing: 2px;
    margin: 1px;
}
.objectLevels {
    flex: 1 1 60%;
    max-height: 30px;
    border-radius: .5em;
    border: solid #c2caffb4;
    text-align: center;
    align-self: center;
    margin: 0;
}
::-moz-progress-bar{
    height: 15px;
    background: rgb(50, 97, 253);
    width: 100%;
    -moz-transition: all 4s ease;
    -moz-transition-delay: 1s;
    -webkit-transition: all 4s ease;
    -webkit-transition-delay: 1s;
    transition: all 4s ease;
    transition-delay: 1s;
}

/*FLEX CONTAINER FOR BUTTONS*/
.objectButtons {
    margin: 3px;
    transition: 0.1s;
    letter-spacing: 1px;
}
/*Flex items for buttons*/
#buttonPlayWith {
    flex: 1 1 22.33%;
}
#buttonFeed {
    flex: 1 1 22.33%;
}
#buttonWater {
    flex: 1 1 22.33%;
}
#buttonWalk {
    flex: 1 1 80%;
    margin: 3px 50px 3px 50px;
}
/*hover*/
Button:hover {
    background: #FFFDBD;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}
.petBoxSingular:hover {
    filter: drop-shadow(0 0 0.45rem #C2CAFF);
}

/*active*/
button:active {
    scale: 0.9;
    filter: drop-shadow(0 0 0.45rem #C2CAFF); 
}